<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="các project example sử dụng javascript  || Coders.Tokyo là một cộng đồng học lập trình miễn phí, với mong muốn tất cả mọi người ở khắp nơi trên thế giới được học lập trình miễn phí.">
    <meta name="keywords" content="coding, free, javascript, programming, web, app">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Các project example của Đông || Coders.Tokyo - Cộng đồng học lập trình miễn phí">
    <meta property="og:site_name" content="Các project example của Đông || Coders.Tokyo - Cộng đồng học lập trình miễn phí">
    <meta property="og:description" content="các project example sử dụng javascript  || Coders.Tokyo là một cộng đồng học lập trình miễn phí, với mong muốn tất cả mọi người ở khắp nơi trên thế giới được học lập trình miễn phí.">
    <meta property="og:locale" content="vi">
    <!-- <meta property="og:image" content="https://coders.tokyo/images/meta-cover.jpg">
    <meta property="og:image" content="http://coders.tokyo/images/me.jpg">
    <meta property="og:image" content="http://coders.tokyo/images/code-editor.svg"> -->
    <meta property="og:updated_time" content="2019-05-07T14:38:36.461Z">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Các project example của Đông || Coders.Tokyo - Cộng đồng học lập trình miễn phí">
    <meta name="twitter:description" content="các project example sử dụng javascript  || Coders.Tokyo là một cộng đồng học lập trình miễn phí, với mong muốn tất cả mọi người ở khắp nơi trên thế giới được học lập trình miễn phí.">
    <!-- <meta name="twitter:image" content="https://coders.tokyo/images/meta-cover.jpg"> -->
    <link rel="icon" href="https://coders.tokyo/images/favicon.png">   
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dong project - Coders Tokyo</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Body Starts -->
    <div class="container-fluid main-body pt-2" id="root" style="display:none" >
      <div class="text-center">
            <h1 class="alert alert-primary h4">Hi everyone, this is the place for my projects example using javascript</h1>
      </div>
      <div class="w-100 text-center">
            <p>contact me: dongnguyenvie@gmail.com </p>
      </div>
      <hr>
      <div class="row">
        <!-- Main Content Starts -->
        <div class="col col-12">
          <div class="heading">
            <div class="content container"></div>
          </div>
          <div class="container content-area pt-4">
            <div class="row">
                
              <div class="col-md-4" v-for="(el, index) in data">
                <div class="card mb-4 box-shadow">
                  <img
                    class="card-img-top"
                    :alt="el.title"
                    style="height: 225px; width: 100%; display: block;"
                    :src="el.images"
                  />
                  <div class="card-body">
                    <p class="card-text">
                      {{el.description}}
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="btn-group">
                        <a
                          class="btn btn-sm btn-outline-primary px-5"
                          target="_blank"
                          :href="el.link"
                        >
                          View
                        </a>
                      </div>
                      <small class="text-muted">Live</small>
                    </div>
                  </div>
                </div>
              </div>
              <template v-if="dataMore.length">
              <div class="col-md-4" v-for="(d, i) in dataMore" :key="i">
                <div class="card mb-4 box-shadow">
                  <img
                    class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225]"
                    src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_169f847473e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_169f847473e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                    data-holder-rendered="true"
                    style="height: 225px; width: 100%; display: block;"
                  />
                  <div class="card-body">
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-secondary"
                        >
                          View
                        </button>
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-secondary"
                        >
                          Edit
                        </button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            </template>

            </div>
          </div>
        </div>

      </div>
    </main>
    <!-- Body Ends -->
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script type="application/javascript" src="./data.js"></script>
    <script type="application/javascript" src="./main.js"></script>
  </body>
</html>
